# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\2020 Projects\2020_Pycharm_Projects\CourtCaseManagementSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
